

.block {
    /* padding: 40px; */
    background: rgb(228, 160, 111);
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 5px solid #4e4949;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #4e4949;
}

.block {
    font-size: 20px;
    width: 250px;
    height: 170px;
}

.block1 {
    border: 1px solid #000;
    border-top-left-radius: 20px;
    background-color: rgb(234, 219, 248);
    overflow: auto;
    width: 1300px;
    height: 700px;
}

